<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <title>Cakes</title>
  <%- include('./partials/head.ejs') %>
  <link rel="stylesheet" href="/css/bootstrap.min.css">
  <link rel="stylesheet" href="/font/bootstrap-icons.css">
</head>

<body id="top" data-bs-spy="scroll" data-bs-target="#mainNav">


  <%- include('./partials/navbar.ejs') %>


    <%- include('./home.ejs', { array }) %>

      <section id="recommendations" class="py-5">
        <div class="container">
          <%- include('./partials/recommendations.ejs', { data }) %>
        </div>
      </section>
      <!-- Portfolio -->
      <section id="portfolio" class="py-5">
        <div class="container">
          <%- include('./partials/portfolio.ejs', { cakes }) %>
        </div>
      </section>


      <%- include('./partials/contact.ejs') %>



        <script src="/js/bootstrap.bundle.min.js"></script>
        <script src="/typed.min.js"></script>
        <script src="/js/filters.js"></script>
        
        <script src="/js/portfolioRequest.js"></script>


        <script>
          // Example: Typed.js using `array` from server
          if (Array.isArray(<%- JSON.stringify(array || []) %>)) {
            new Typed(".aboutMe", {
              strings: <%- JSON.stringify(array) %>,
              typeSpeed: 100,
              backSpeed: 100,
              smartBackspace: true,
              loop: true
            });
          }
        </script>
        
</body>

</html>